<app-navbar></app-navbar>
<div *ngIf="producto" class="product-details-container">
  <div class="product-image">
    <!-- Placeholder for product image -->
    <img [src]="producto.description" alt="{{ producto.name }}">
  </div>
  <div class="product-info">
    <h1>{{ producto.name }}</h1>
    <p class="description">{{ producto.description }}</p>
    <p class="price"><strong>Precio:</strong> {{ producto.unitCost | currency:'USD':'symbol' }}</p>
    <p class="availability"><strong>Disponibilidad:</strong> {{ producto.stock > 0 ? 'En stock' : 'Agotado' }}</p>
    <p class="category"><strong>Categoría:</strong> {{ producto.productCategory?.name }}</p>

    <div *ngIf="producto.productRatings && producto.productRatings.length">
      <h2>Calificaciones</h2>
      <p>Promedio: {{ calculateAverageRating(producto.productRatings) | number:'1.1-1' }}/5</p>
      <ul>
        <li *ngFor="let rating of producto.productRatings">
          {{ rating.rating }} -
        </li>
      </ul>
    </div>

    <button mat-raised-button color="primary" (click)="addToCart(producto)">Agregar al carrito</button>
  </div>
</div>

<app-footer></app-footer>
