<div class="container">
  <h2>Órdenes Anteriores</h2>
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <!-- Order Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha de Orden </th>
      <td mat-cell *matCellDef="let order"> {{ order.date }} </td>
    </ng-container>

    <!-- Payment Amount Column -->
    <ng-container matColumnDef="paymentAmount">
      <th mat-header-cell *matHeaderCellDef> Monto de Pago </th>
      <td mat-cell *matCellDef="let order"> {{ order.payment.amount | currency:'USD':'symbol' }} </td>
    </ng-container>

    <!-- Payment Status Column -->
    <ng-container matColumnDef="paymentStatus">
      <th mat-header-cell *matHeaderCellDef> Estado del Pago </th>
      <td mat-cell *matCellDef="let order"> {{ order.payment.status }} </td>
    </ng-container>

    <!-- Shipment Delivery Date Column -->
    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Entrega </th>
      <td mat-cell *matCellDef="let order"> {{ order.shipment.deliveryDate }} </td>
    </ng-container>

    <!-- Shipment Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Dirección de Entrega </th>
      <td mat-cell *matCellDef="let order"> {{ order.shipment.address }} </td>
    </ng-container>

    <!-- Order Details Button Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Detalles </th>
      <td mat-cell *matCellDef="let order">
        <button mat-button color="primary" (click)="viewDetails(order.id)">Ver Detalles</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
