.container {
  padding: 2rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  .order-info {
    margin-bottom: 2rem;

    p {
      margin: 0.5rem 0;
    }
  }

  table {
    width: 100%;
    margin-bottom: 2rem;

    th {
      background-color: midnightblue;
      color: white;
    }

    td, th {
      padding: 1rem;
      text-align: left;
    }
  }

  button {
    margin-top: 1rem;
  }
}
