.order-tracking-page {
  padding: 20px;
  height: 80vh;
}

.order-tracking-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.map-container {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

.info-container {
  flex: 1;
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
}

.info-container p {
  margin: 10px 0;
  font-size: 1rem;
}
