<div class="map-container">
  <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
    <map-marker *ngFor="let position of markerPositions"
                [position]="position"
                [options]="markerOptions">
    </map-marker>
  </google-map>
</div>
<div *ngIf="address">
    <p><strong>Street Address:</strong> {{ address }}</p>
    <p><strong>Locality:</strong> {{ locality }}</p>
    <p><strong>Postal Code:</strong> {{ postalCode }}</p>
    <p><strong>Region:</strong> {{ region }}</p>
    <p><strong>Country Name:</strong> {{ countryName }}</p>
  </div>

