<header>
  <mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
      <a routerLink="/principal">
        <span class="logo">MiPortal</span>
      </a>
      <span class="spacer"></span>
      <mat-form-field class="search-bar" appearance="outline">
        <mat-label>Buscar productos</mat-label>
        <input matInput type="text" [(ngModel)]="searchQuery">
        <button mat-icon-button matSuffix aria-label="Buscar" (click)="searchProducts()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <span class="spacer"></span>
      <nav>
        <a mat-button routerLink="/principal">Inicio</a>
        <a mat-button routerLink="/productos">Productos</a>
        <a mat-button routerLink="/shoppingcart">
          <mat-icon>shopping_cart</mat-icon>
        </a>
      </nav>
      <div class="user-menu">
        <mat-icon (click)="toggleDropdown()">account_circle</mat-icon>
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <a routerLink="/userOrders" class="dropdown-item">Ver pedidos anteriores</a>
          <a routerLink="/userPayments" class="dropdown-item">Ver pagos anteriores</a>
          <a routerLink="/orderTracking" class="dropdown-item">Rastrear pedidos</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
