.header {
  background-color: #343a40;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: midnightblue;background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */height: 7vh;
  margin-bottom: 2%;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .search-bar {
    margin-top: 1%;
    flex: 0 1 500px;

    input {
      color: white;
    }

    mat-icon {
      color: white;
      margin: 1%;
    }

    mat-form-field {
      width: 100%;
    }

    mat-label {
      color: white;
    }
  }

  nav a {
    color: white;
    margin-right: 15px;
  }

  .user-menu {
    position: relative;
    mat-icon {
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      right: 0;
      background-color: white;
      color: black;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      overflow: hidden;
      z-index: 1000;

      &.show {
        display: block;
      }

      .dropdown-item {
        padding: 1rem;
        text-decoration: none;
        color: black;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
