<app-navbar></app-navbar>
<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div class="izquierda">
        <img *ngIf="producto" [src]="producto.description" alt="Imagen del producto">
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="detalles">
      <h1 class="mat-display-2" *ngIf="producto">{{ producto.name }}</h1>
      <strong *ngIf="producto">Precio</strong>
      <h1 class="mat-display-2" *ngIf="producto">{{ producto.unitCost | currency }}</h1>
      <button *ngIf="!yaExiste && producto" class="carrito" mat-raised-button color="accent">
        <mat-icon>add</mat-icon>
        Agregar al carrito
      </button>
      <button *ngIf="yaExiste && producto" class="carrito" mat-raised-button color="accent">
        <mat-icon>delete</mat-icon>
        Quitar del carrito
      </button>
      <a routerLink="/tienda" class="comprar" mat-raised-button color="primary">
        Seguir comprando
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<app-footer></app-footer>
