@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.mat-button, .mat-raised-button, .mat-flat-button, .mat-stroked-button, .mat-icon-button, .mat-fab, .mat-mini-fab {
  font-family: 'Montserrat', sans-serif;
}

.mat-card {
  font-family: 'Montserrat', sans-serif;
}

.mat-toolbar {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

mat-toolbar {
  background: #343a40;
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: white;
}

.mat-form-field-label {
  color: white !important;
}

.mat-icon-button {
  color: white;
}
