<div class="container">
  <h2>Detalles de la Orden</h2>
  <div class="order-info">
    <p><strong>Fecha de Orden:</strong> {{ order?.date }}</p>
    <p><strong>Monto Total:</strong> {{ order?.payment.amount | currency:'USD':'symbol' }}</p>
  </div>

  <table mat-table [dataSource]="order?.items" class="mat-elevation-z8">
    <!-- Item Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
    </ng-container>

    <!-- Item Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let item"> {{ item.description }} </td>
    </ng-container>

    <!-- Item Unit Price Column -->
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
      <td mat-cell *matCellDef="let item"> {{ item.unitPrice | currency:'USD':'symbol' }} </td>
    </ng-container>

    <!-- Item Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button color="primary" (click)="trackOrder()">Rastrear Pedido</button>
</div>
