<app-navbar></app-navbar>
<div class="cart-page">
  <h1>Tu Carrito de Compras</h1>

  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img [src]="item.product?.description" alt="{{ item.product?.name }}" class="item-image">
      <div class="item-details">
        <h2>{{ item.product?.name }}</h2>
        <p>{{ item.product?.description }}</p> 
        <span class="item-price">{{ item.product?.unitCost | currency }}</span>
        <div class="item-quantity">
          <label for="quantity">Cantidad:</label>
          <input type="number" [(ngModel)]="item.quantityProducts" min="1">
        </div>
      </div>
      <button (click)="removeItem(item.id)">Remove</button>
    </div>
  </div>

  <div class="cart-summary">
    <h2>Resumen del Pedido</h2>
    <p>Total: <span class="total-price">{{ getTotalPrice() }}</span></p>
    <button class="checkout-button" (click)="checkout()">Proceder a Pagar</button>
  </div>
</div>
<app-footer></app-footer>
